    <div class="lobby" id="ranked">
    	<div id="lobby-slots">
    	</div>
    	<div id="lobby-settings">
    		<!-- Ranked game finding-->
      		<div id="ranked">
        		<div id="search-game">
        			<h1 id="title">Private Lobby</h1>
	        	</div>
	        	<div id="lobby-settings-btn">Settings</div>
    		</div>
    	</div>
    	 <div class="cleaner"></div>
    	<div class="lobby-buttons">
    		<div>Start Game</div>
    		<div id="leave-lobby">Leave lobby</div>
    	</div>
    </div>